<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="!isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field appearance="outline">
              <mat-label>กรุณาใส่ชื่อ</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>กรุณาใส่วันที่</mat-label>
            <input matInput [matDatepicker]="secondCtrl" formControlName="secondCtrl" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="secondCtrl"></mat-datepicker-toggle>
            <mat-datepicker touchUi #secondCtrl></mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="getFromNextStep()">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="myForm">
        <ng-template matStepLabel>Lottery Number</ng-template>
        <button mat-button color="accent" mat-raised-button (click)="addNewCompany()">ADD</button>
        <form [formGroup]="myForm">
          <div formArrayName="companies">
            <div *ngFor="let comp of myForm.get('companies').controls; let i=index">
              <legend>
                <h3>ชุดที่ {{i+1}}: </h3>
              </legend>
              <div [formGroupName]="i">
                <span>
                  <!-- <mat-form-field>
                    <input matInput placeholder="เลข" formControlName="number" required>
                  </mat-form-field> -->

                  <mat-form-field appearance="outline">
                    <mat-label>ใส่ตัวเลข หวย</mat-label>
                    <input matInput placeholder="เลข" formControlName="number" required>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>กรุณาใส่ราคา บน</mat-label>
                    <input matInput placeholder="บน" formControlName="priceTop" required>
                  </mat-form-field>
                  <mat-label> X </mat-label>
                  <mat-form-field appearance="outline">
                    <mat-label>กรุณาใส่ราคา ล่าง</mat-label>
                    <input matInput placeholder="ล่าง" formControlName="priceButton" required>
                  </mat-form-field>
                  <button mat-button color="warn" (click)="deleteCompany(i)">Delete</button>
                </span>
              </div>

            </div>
          </div><br>
        </form>
        <!-- <pre>{{myForm.value | json}}</pre> -->
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="buildData()">Next</button>
        </div>
      </mat-step>
      <mat-step>

        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <mat-grid-list cols="2" rowHeight="4:1">
            <mat-grid-tile>
                <mat-label> {{buildDataPost?.name}} </mat-label>
            </mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
          </mat-grid-list>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>

</mat-card>